
<div class="lg:grid lg:grid-cols-3">

  <div>
  </div>

  <div class="bg-white shadow-md rounded-md p-4 w-full flex flex-col justify-center items-center mt-16 hover:shadow-lg transition:easie-in-out duration-300">

    <h2 class="text-3xl font-bold text-slate-500 mb-3">Admin</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :email, class:"font-normal leading-normal font-bold text-md text-gray-500" %><br />
      <%= f.email_field :email, class:"px-2 py-1 text-xl mb-3 rounded border border-gray-300 block w-full focus:outline-none focus:border-gray-400 outline-none focus-within:outline-none focus:ring-2 focus:ring-gray-200" %>
    </div>

    <div class="field">
      <%= f.label :password, class:"font-normal leading-normal font-bold text-md text-gray-500" %><br />
      <%= f.password_field :password, class:"px-2 py-1 text-xl mb-3 rounded border border-gray-300 block w-full focus:outline-none focus:border-gray-400 outline-none focus-within:outline-none focus:ring-2 focus:ring-gray-200" %>
    </div>
 
    <div class="actions">
      <%= f.submit "Log in", class:"bg-rose-400 px-3 py-1 text-white shadow-md mb-10 mt-2 hover:bg-rose-600 transition:ease-in-out duration-300" %>
    </div>


    <% end %>




  </div>
</div>





