<%= form_with(model: [product]) do |form| %>
    <div class="lg:grid lg:grid-cols-3">
    
    
        <div></div>

        <div class="bg-rose-400 shadow-xl rounded-md p-4 w-full mt-16 transition:easie-in-out duration-300">
            <%= form.label :name, class:"font-normal leading-normal font-bold text-md text-gray-100" %>
            <%= form.text_field :name, class:"px-2 py-1 text-xl mb-3 rounded block w-full focus:outline-none focus:border-gray-400 outline-none focus-within:outline-none focus:ring-2 focus:ring-gray-200" %>



            <%= form.label :price, class:"font-normal leading-normal font-bold text-md text-gray-100" %>
            <%= form.number_field :price, class:"px-2 py-1 text-xl mb-3 rounded block w-full focus:outline-none focus:border-gray-400 outline-none focus-within:outline-none focus:ring-2 focus:ring-gray-200" %>



            <%= form.label :description, class:"font-normal leading-normal font-bold text-md text-gray-100" %>
            <%= form.text_area :description, class:"px-2 py-1 text-xl mb-3 rounded block w-full focus:outline-none focus:border-gray-400 outline-none focus-within:outline-none focus:ring-2 focus:ring-gray-200" %>


            <%= form.file_field :pic, class:"my-3", id: "files-upload", class:"px-2 py-1 text-xl mb-3 rounded block w-full focus:outline-none focus:border-gray-400 outline-none focus-within:outline-none focus:ring-2 focus:ring-gray-200" %>




            <%= form.label :furniture_style, class:"font-normal leading-normal font-bold text-md text-gray-100" %>
            <%= form.select :furniture_style, ['Metal Racks Furniture', 'Metal Office Furniture', 'Metal School Furniture'], { prompt: 'Select' }, class:"px-2 py-1 text-xl mb-3 rounded block w-full focus:outline-none focus:border-gray-400 outline-none focus-within:outline-none focus:ring-2 focus:ring-gray-200" %>



            <%= form.submit "Create Product", class:"bg-gray-100 px-3 py-1 text-gray-500 shadow-md mb-10 mt-2 hover:text-white hover:bg-rose-600 transition:ease-in-out duration-300" %>
        </div>
  
    </div>



<% end %>