<div class="bg-rose-500">
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
      <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
        <a href="/" class="mb-6 sm:mx-auto">
          <div class="flex items-center justify-center w-12 h-12 rounded-full bg-teal-accent-400">
            
          </div>
        </a>
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-white sm:text-4xl md:mx-auto">
            <span class="relative inline-block">
              <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-deep-purple-accent-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                <defs>
                  <pattern id="700c93bf-0068-4e32-aafe-ef5b6a647708" x="0" y="0" width=".135" height=".30">
                    <circle cx="1" cy="1" r=".7"></circle>
                  </pattern>
                </defs>
                <rect fill="url(#700c93bf-0068-4e32-aafe-ef5b6a647708)" width="52" height="24"></rect>
              </svg>
              <span class="relative">Metal</span>
            </span>
            Products
          </h2>
          <p class="text-base text-indigo-100 md:text-lg">
            Asra Metal Works provides you the best range of metal racks furniture, office metal furniture & metal school furniture with effective & timely delivery.
          </p>
        </div>
        <div class="grid grid-cols-3 lg:gap-10">
            <%= link_to "Metal Racks Furnitures", racks_path, class:"#{active?(racks_path)} inline-flex text-rose-500 items-center justify-center h-12 px-5 font-semibold  transition:ease-in duration-300 rounded shadow-md hover:text-rose-500 bg-white  "%>
            <%= link_to "Metal Offices Furnitures", offices_path, class:"#{active?(offices_path)} inline-flex text-rose-500 items-center justify-center h-12 px-3 font-semibold  transition:ease-in duration-300 rounded shadow-md hover:text-rose-500 bg-white  "%>
            <%= link_to "Metal Schools Furnitures", schools_path, class:"#{active?(schools_path)} inline-flex text-rose-500 items-center justify-center h-12 px-3 font-semibold  transition:ease-in duration-300 rounded shadow-md hover:text-rose-500 bg-white  "%>
        </div>
        
      </div>
    </div>
  </div>
</div>


<% products.each do |product| %>

    <div class="grid lg:grid-cols-4 gap-10 m-10">
        <div class="bg-white shadow-lg rounded-md font-body overflow-hidden hover:shadow-md transition:ease-in duration-500">
        
            <%= image_tag product.pic, class:"w-full h-32 sm:h-48 object-cover" %><hr class="mt-4">
            <div class="p-3 m-3">
                <div class="mb-3">
                    <span class="text-3xl text-gray-500 font-bold"><%= product.name.truncate(13) %></span>
                </div>

                <% if product.description.present? %>
                    <div class="mb-4">
                        <span class="text-gray-400 block"><%= product.description.truncate(33) %></span>
                    </div>
                <% end %>

                <div class="mb-3">
                    <ul class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"> 
                        <li><%= product.furniture_style %></li>
                    </ul>
                </div>

                <div>
                    <span class="text-bold text-3xl text-slate-500">&#8377; <%= product.price %></span>
                    <%= link_to "View Details", product_path(product), class:"block bg-rose-400 text-white text-center px-3 py-2 mt-3 hover:bg-rose-500 transition:ease-in duration-300" %>
                    <% if current_admin %>
                        <%= link_to "Edit Product", edit_product_path(product), class:"block text-slate-600 bg-white border border-rose-400 text-center px-3 py-2 mt-3 hover:bg-gray-50 transition:ease-in duration-300" %>
                    <% end %>
                </div>
    
            </div>
        </div>

    </div>


<% end %>