
<div class="grid lg:grid-cols-2 p-4 m-4">

     <div>
        <h1 class="text-3xl text-gray-600 font-bold"><%= @product.name %></h1>
        <div class="my-4">
            <span class="font-bold text-3xl">&#8377; <%= @product.price %></span>
        </div>

        <div class="mb-4">
            <span class="text-slate-500"><%= @product.description %></span>
        </div>

        <div class="mb-4">
            <ul class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"> 
                <li><%= @product.furniture_style %></li>
            </ul>
        </div>

    </div>

    <div>
        <% if @product.pic.attached? %>
            <div class="bg-white overflow-hidden shadow-md rounded-md">
                <%= image_tag @product.pic, class:" w-full" %>
            </div>
        <% end %>

    </div>

   
   
    

</div>

