
<div class="grid lg:grid-cols-2 p-4 m-4">

     <div>
        <h1 class="text-3xl text-gray-600 font-bold"><%= @product.name %></h1>
        <div class="my-4">
            <span class="font-bold text-3xl">&#8377; <%= @product.price %></span>
        </div>

        <div class="mb-4">
            <span class="text-slate-500"><%= @product.description %></span>
        </div>

        <div class="mb-4">
            <ul class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"> 
                <li><%= @product.furniture_style %></li>
            </ul>
        </div>

        <small class="text-muted">Contact Now:</small>
        <div class="">
            <a href="tel:998-656-6610" class="block gap-2 bg-green-600 text-gray-100 px-2 py-2 rounded-md hover:shadow-sm hover:bg-green-800 transition:ease-in-out duration-300 flex flex-row justify-center items-center w-36" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                </svg>
                <h1>9986566610</h1>
            </a>
        </div>
        <%= link_to "Back", :back, class:"block  bg-rose-500 text-gray-100 px-2 py-2 mb-7 rounded-md hover:shadow-sm hover:bg-rose-700 transition:ease-in-out duration-300 flex flex-row justify-center items-center w-20 mt-7" %>

    </div>

    <div>
        <% if @product.pic.attached? %>
            <div class="bg-white overflow-hidden shadow-md rounded-md">
                <%= image_tag @product.pic, class:" w-full" %>
            </div>
        <% end %>

    </div>

   
   
    

</div>

